body, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/***** Navigation *****/

nav ul li {
    width: 145px;
    list-style-type: none;
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}