body, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/***** Navigation *****/

nav ul li {
    width: 145px;
    list-style-type: none;
    float: left;
    border: 1px solid red;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}